* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  /*padding: 0;
  margin: 0;
  height: 100%;*/
  /*background-image: url("https://www.mcvuk.com/.image/t_share/MTUzMDY4NzA3NzU1ODYwOTk5/marvel-heroes-2015-leadjpg.jpg");*/
  /*background-image: url("http://img.lanimg.com/tu/tuku/140602/330881-140602115G526.jpg");*/
  background-image: url("https://www.fjackets.com/product_images/uploaded_images/superhero-costumes-for-men.jpg");
}
